<h3>Porfolio</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nemo rem enim nostrum est molestias velit? Mollitia
    corrupti molestias accusantium.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card-porfolio">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, dolore tempora id dolorum iure molestiae. Molestias, libero?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-porfolio">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Proyect Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic rerum ipsum quod vitae animi necessitatibus, odit sapiente.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-porfolio">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Proyect Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, deserunt aut. Cupiditate ad vel laudantium distinctio eveniet!</p>
                </div>
            </div>
        </div>
    </div>