<!-- your html code here -->
<hr style="width: 80%; margin: auto;">
<div class="container-fluid d-flex" style="padding: 10%;">
    <img src="/website/assets/img/2.jpg" style="border-radius: 100%; width: 20%; height: 20%;" alt="img">
    <div class="container">
        <div class="container-fluid d-flex" style="padding-left: 0;">
            <h3>The Second Heading</h3> &nbsp <h3 style="color: gray;">Is Pretty Cool Too</h3>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error animi eum tempore nam vitae iste dicta debitis maxime necessitatibus eaque. Maxime necessitatibus tempore aliquam nesciunt sed, ipsum maiores doloribus corporis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a ea iste illum ad explicabo sapiente ducimus ut ipsam repellat numquam, minima natus dolorum eligendi. Veritatis at vitae eos aliquam.</p>
    </div>
</div>
<hr style="width: 80%; margin: auto;">